body{
    font-size: 25px;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    background-color: black;
    color: azure;
}
p{
    background-color: yellow;
}
.div1{
    background-color: palevioletred;
    height: 500px;
    width:500px;
   
    float:left;
}

.div2{
    background-color: rgb(106, 81, 173);
    height: 400px;
    width:700px;
    margin:10px;
}

img{
    float:left;
    height: 300px;
    width:400px;
    margin-right:20px;
}



